<nav class="navbar navbar-dark bg-primary">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="surveys">Show all surveys</a>
    <a class="nav-item nav-link" href="#">Results</a>
    <a class="nav-item nav-link" href="#">About</a>
  </div>
</nav>

